.navbar {
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
}

.navbar-brand,
.nav-link {
    color: white;
}

.navbar-collapse {
    margin-right: 200px;
    margin-top: 5px;
}

.navbar-brand {
    margin-left: 200px;
    margin-top: 5px;
}

.header {
    background-image: url(/images/close-table-technology-notebook-open/891.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgb(244, 244, 244, 0.79);
}

.description {
    position: absolute;
    top: 25%;
    margin: auto;
    padding: 1.5em;
    margin-left: 400px;
    line-height: 1.5;
}

.description button {
    background: rgb(102, 102, 102);
    color: white;
}

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
    color: rgb(51, 51, 51);
}

.about h1 {
    color: rgb(51, 51, 51);
    margin: 2em;
    text-align: center;
}

.about img {
    height: 90%;
    width: 90%;
    border-radius: 70%;
}

.about span {
    display: block;
    position: absolute;
    left: 100px;
}

.about .desc {
    padding: 2em;
    border-left: 2px solid rgb(51, 51, 51);
}

.about .desc p {
    line-height: 2;
}